.welcome-view {
  margin-top: 10vh;

  .select-language {
    .language {
      cursor: pointer;
      position: relative;

      .flag {
        border: 3px solid rgb(0, 0, 0);
      }
    }

    .language.active {
      .flag {
        border: 3px solid rgb(255, 255, 0);
      }
    }

    .language:hover {
      .language-name {
        font-weight: bold;
      }
    }
  }
}
