.movies-view {
  .movie-details {
    .details {
      .poster {
        width: 160px;
      }
    }
  }

  .rating {
    color: #daa520;
    width: 480px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .navigate-back {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .movies-view {
    .rating {
      width: 700px;
    }
  }
}

@media (min-width: 992px) {
  .movies-view {
    .rating {
      width: 900px;
    }
  }
}

@media (min-width: 1200px) {
  .movies-view {
    .rating {
      width: 1100px;
    }
  }
}
