.movies-view {
  .movie-details {
    .details {
      .poster {
        width: 160px;
      }
    }
  }

  .rating {
    color: #daa520;
  }

  .navigate-next,
  .navigate-back {
    cursor: pointer;
  }
}
